@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 140 30% 96%;
    --foreground: 150 15% 20%;

    --card: 0 0% 100%;
    --card-foreground: 150 15% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 150 15% 20%;

    --primary: 145 50% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 140 35% 85%;
    --secondary-foreground: 150 15% 20%;

    --muted: 140 25% 90%;
    --muted-foreground: 150 10% 45%;

    --accent: 145 45% 65%;
    --accent-foreground: 150 20% 15%;

    --destructive: 0 70% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 140 20% 88%;
    --input: 140 20% 88%;
    --ring: 145 50% 55%;

    --radius: 3rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 265 4% 12.9%;

    --sidebar-primary: 266 4% 20.8%;

    --sidebar-primary-foreground: 248 0.3% 98.4%;

    --sidebar-accent: 248 0.7% 96.8%;

    --sidebar-accent-foreground: 266 4% 20.8%;

    --sidebar-border: 256 1.3% 92.9%;

    --sidebar-ring: 257 4% 70.4%;

    --chart-1: 41 22.2% 64.6%;

    --chart-2: 185 11.8% 60%;

    --chart-3: 227 7% 39.8%;

    --chart-4: 84 18.9% 82.8%;

    --chart-5: 70 18.8% 76.9%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    --font-serif: Lora, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;

    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 48 96.4912% 88.8235%;
    --foreground: 20 14.2857% 4.1176%;

    --card: 88 61.165% 20.1961%;
    --card-foreground: 20 14.2857% 4.1176%;

    --popover: 142 70.5628% 45.2941%;
    --popover-foreground: 20 14.2857% 4.1176%;

    --primary: 34 100% 91.7647%;
    --primary-foreground: 0 0% 3.9216%;

    --secondary: 142 71.8121% 29.2157%;
    --secondary-foreground: 240 10% 3.9216%;

    --muted: 86 68.9655% 22.7451%;
    --muted-foreground: 20 14.2857% 4.1176%;

    --accent: 88 61.165% 20.1961%;
    --accent-foreground: 0 0% 3.9216%;

    --destructive: 22 19.1% 70.4%;
    --destructive-foreground: 20 14.2857% 4.1176%;

    --border: 20 14.2857% 4.1176%;
    --input: 20 14.2857% 4.1176%;
    --ring: 24 9.8039% 10%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 248 0.3% 98.4%;
    --sidebar-primary: 264 24.3% 48.8%;
    --sidebar-primary-foreground: 248 0.3% 98.4%;
    --sidebar-accent: 260 4.1% 27.9%;
    --sidebar-accent-foreground: 248 0.3% 98.4%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 264 2.7% 55.1%;
    --chart-1: 20 14.2857% 4.1176%;
    --chart-2: 20 14.2857% 4.1176%;
    --chart-3: 20 14.2857% 4.1176%;
    --chart-4: 20 14.2857% 4.1176%;
    --chart-5: 20 14.2857% 4.1176%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}